body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    height: 100%;
    overflow:auto
}
.form-container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.form-container h1 {
    margin-bottom: 20px;
}
.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.button-group button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button-group button:hover {
    background-color: #555;
}
.devnote {
    font-size: 0.86em;
    color: #e57171;
}
.outputbox {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 300px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    overflow-y: auto;
    max-height: calc(100vh - 40px);
}
.footer-wrapper {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    border-top: 1px solid #333;
    font-size: 0.9em;
}
.footer-wrapper a {
    color: #e57171;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-wrapper a:hover {
    color: #ff8a8a;
}
.voicemail-form {
    transform: translate(-100%)
}
.voicemail-form.show {
    transform: translate(0);
}